dyn_o_mite:
  dyn_listen: {{ dynomitedb_dynomite_dyn_listen_address }}:{{ dynomitedb_dynomite_dyn_listen_port }}
  data_store: {{ dynomitedb_dynomite_data_store }}
  listen: {{ dynomitedb_dynomite_listen_address }}:{{ dynomitedb_dynomite_listen_port }}
  dyn_seeds:
{% for server in dynomitedb_dynomite_seeds %}
  - {{ server }}
{% endfor %}
  servers:
{% for server in dynomitedb_dynomite_servers %}
  - {{ server.address }}:{{ server.port }}:{{ loop.index }}
{% endfor %}
  tokens: {{ dynomitedb_dynomite_tokens }}
  datacenter: {{ dynomitedb_dynomite_datacenter}}
  rack: {{ dynomitedb_dynomite_rack}}
  pem_key_file: {{dynomitedb_dynomite_conf_dir}}/dynomite.pem
  recon_key_file: {{dynomitedb_dynomite_conf_dir}}/recon_key.pem
  recon_iv_file: {{dynomitedb_dynomite_conf_dir}}/recon_iv.pem
  enable_gossip: true
  preconnect: true